.console-banner {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #111827; /* bg-gray-900 */
  border-radius: 10px;
  padding: 10px;
  color: #fff;
  font-family: 'Courier New', monospace;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  z-index: 1000;
  display: flex;
  flex-direction: column;
  border: 1px solid #374151; /* border-gray-700 */
  overflow: hidden;
}

.console-header {
  width: 100%;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #374151; /* border-gray-700 */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #1F2937; /* bg-gray-800 */
}

.console-header h2 {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0 0 10px 0;
  color: #ffffff;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  letter-spacing: 1px;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.8);
}

.progress-container {
  height: 20px;
  background-color: #374151; /* bg-gray-700 */
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 5px;
}

.progress-bar {
  height: 100%;
  background: #3B82F6; /* bg-blue-500 */
  transition: width 0.3s ease;
}

.progress-text {
  text-align: center;
  font-size: 0.9rem;
  color: #9CA3AF; /* text-gray-400 */
}

.console-content {
  flex: 1;
  overflow-y: auto;
  background-color: #1F2937; /* bg-gray-800 */
  border-radius: 5px;
  padding: 10px;
  border: 1px solid #374151; /* border-gray-700 */
}

.console-messages {
  overflow-y: auto;
  flex-grow: 1;
  width: 100%;
  padding: 10px;
  background-color: #1F2937; /* bg-gray-800 */
  border-radius: 5px;
  border: 1px solid #374151; /* border-gray-700 */
  font-size: 0.8rem;
  line-height: 1.3;
  max-height: 25vh; /* Altura máxima para mostrar más mensajes */
}

.console-message {
  margin-bottom: 5px;
  padding: 3px 0;
  border-bottom: 1px solid #374151; /* border-gray-700 */
  word-break: break-word;
}

.console-message:last-child {
  border-bottom: none;
}

.error-message {
  color: #ff5252;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
